.form {
    width: 500px;
    height: 500px;
    margin-top: 220px;
    margin-left: 180px;
}

.pig {
    margin-top: 70px;
    margin-right: 180px;
}

.logo {
    width: 200px;
    margin-top: 20px;
    margin-left: 180px;
}

